html {
  width: 100%;
}
body {
  font:
    14px/20px Helvetica,
    Arial,
    sans-serif;
  background-color: #ccc;
  margin: 0;
  width: 100%;
}
.top {
  background-color: black;
  position: relative;
  margin: 0;
  width: 100%;
  height: 480px;
}
.center {
  margin: auto;
  min-width: 640px;
  max-width: 854px;
}
.bottom p {
  padding: 10px 20px;
}

.player {
  /* background-color: red; */
  position: relative;
  height: 100%;
}

.paused .pause {
  display: none;
}

.playing .play {
  display: none;
}

.unmuted .unmute {
  display: none;
}

.muted .mute {
  display: none;
}

.primary #skip,
.no-skip #skip {
  display: none;
}

.media {
  /* background-color: blue; */
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls {
  color: rgb(242, 241, 234);
  fill: rgb(242, 241, 234);
  /* background-color: rgba(0, 255, 255, 0.1); */
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  pointer-events: auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#play-pause {
  position: absolute;
  min-width: 50px;
  left: 30px;
  bottom: 50px;
}

#mute-unmute {
  position: absolute;
  min-width: 50px;
  left: 85px;
  bottom: 50px;
}

#time-display {
  position: absolute;
  left: 33px;
  text-shadow:
    0 0 1em rgba(0, 102, 220, 1),
    0 0 0.2em black;
}

#skip {
  position: absolute;
  right: 40px;
  bottom: 50px;
}

.controls .slider {
  /* background-color: magenta;  */
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: 0;
}

.controls .slider canvas {
  width: 100%;
  height: 100%;
}

.player.html5-controls .controls {
  cursor: auto;
  pointer-events: none;
}

.player.html5-controls button,
.player.html5-controls #time-display {
  display: none;
}

.bottom {
  background-color: rgba(255, 255, 255, 0.5);
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
}
button {
  pointer-events: auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(0, 103, 220, 0.66);
  transition: background-color 0.15s linear;
  overflow: visible;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  margin-right: 6px;
  margin-bottom: 6px;
}
button svg {
  height: 20px;
}
button:hover {
  background-color: rgba(0, 102, 220, 1);
}
button,
select {
  text-transform: none;
}
button,
label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  body {
    font-size: 2vw;
    line-height: 3vw;
  }
}
