html {
  width: 100%;
}
body {
  font:
    14px/20px Helvetica,
    Arial,
    sans-serif;
  background: #ccc;
  margin: 0;
  width: 100%;
}
.top {
  background: black;
  position: relative;
  margin: 0;
  width: 100%;
  height: 480px;
}
.center {
  margin: auto;
  min-width: 640px;
  max-width: 854px;
}

.player {
  background: red;
  position: relative;
  height: 100%;
}

.paused .pause {
  display: none;
}

.playing .play {
  display: none;
}

.unmuted .unmute {
  display: none;
}

.muted .mute {
  display: none;
}

.primary #skip {
  display: none;
}

.media {
  background: blue;
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls {
  background: rgba(0, 255, 255, 0.1);
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
}

#play-pause {
  position: absolute;
  min-width: 50px;
  left: 30px;
  bottom: 50px;
}

#mute-unmute {
  position: absolute;
  min-width: 50px;
  left: 85px;
  bottom: 50px;
}

#skip {
  position: absolute;
  right: 40px;
  bottom: 50px;
}

.controls .slider {
  background: magenta;
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: 0;
}

.bottom {
  background: rgba(255, 255, 255, 0.5);
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  margin-right: 6px;
  margin-bottom: 6px;
}
button,
select {
  text-transform: none;
}
button,
label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  body {
    font-size: 2vw;
    line-height: 3vw;
  }
}
